header {
    background-color: aqua;
}

main {
    background-color: azure;
    text-align: center;
}

footer {
    background-color: pink;
}

/* Estilos para elementos de lista lado a lado */

li {
    display: inline-block;
}

footer ul {
    display: inline-block;
}

header ul {
    text-align: end;
}